body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dd-wrapper{
  display:flex;
  min-height:38px;
  flex-wrap:wrap;  
}

.dd-header {   
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    width:50%;
    padding:0 20px;   
  }

 .myPages-sub-menu{
    justify-content:space-between;
    text-align: left;
    text-decoration: none;
    cursor:pointer;
    text-underline-offset:auto ;
    width:50%;
    padding:0 20px;  
 }